{% extends('base.html.twig')  %}

{% block title %}se connecter-Isamm Network{% endblock %}

{% block stylesheets %}
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <h1 align="center"> Bienvenue dans Isamm Network</h1>
    <div id="login-page">
        <div class="container">
            <form class="form-login" action="{{ path("fos_user_security_check") }}" method="post">
                <h2 class="form-login-heading">se connecter</h2>
                <div class="login-wrap">
                    <label>Email</label>
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}

                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input  class="form-control" type="text" id="username" name="_username" placeholder="username" value="{{ last_username }}" required="required" autocomplete="username"  /><br>

                    <label>Mot de passe</label>
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" class="form-control"  placeholder="Password" id="password" name="_password" required="required" autocomplete="current-password"/>
                <label class="checkbox">
                    <input type="checkbox"  id="remember_me" name="_remember_me" value="on" > Remember me
                </label>
                <button class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}">Login</button>
                </div>
            </form>


        </div>
    </div>
{% endblock %}

 {% block javascripts %}
     <script src="assets/js/jquery.js"></script>
     <script src="assets/js/bootstrap.min.js"></script>
     <script type="text/javascript" src="assets/js/jquery.backstretch.min.js"></script>
     <script><!-- $.backstretch("assets/img/login-bg.jpg", {speed: 500});-->
     </script>

 {% endblock %}